{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  Связь с нами
{% endblock %}

{% block content %}

<div>
    <h2 class="shadow bg-white rounded" align="center" style="color: teal">Наше местоположение</h2>
 </div>
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="1080" height="400" id="gmap_canvas" src="https://google.com/maps/embed?pb=!1m18!1m12!1m3!1d2187.7327918786093!2d39.21771420181753!3d51.68423588284991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413b2f1194ae0bcd%3A0x2d892f0a344b8759!2sVoronezh%20Institute%20of%20High%20Technologies!5e0!3m2!1sen!2sru!4v1620841546323!5m2!1sen!2sru" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://www.pureblack.de/beste-wordpress-themes/"></a>
    </div>
    <style>.mapouter{position:relative;text-align:right;height:400px;width:1080px;}.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:1080px; margin-left: 10%;margin-top: 2%;margin-bottom: 10% }</style>
</div>
<hr>

 <div class="container-fluid">
      <div class="row">
        <div class="col">
        	<h3 align="center" style="color: teal; margin-top:5%">Контактная информация</h3>
        	<hr>
        	<div style="margin-left: 5%">
	        	<h4 style="color: black">Django diploma project - книжный магазин</h4>
	        	<h5 style="color: grey">Российская Федерация, г. Воронеж, Ленина7xa</h5>
				<h5 style="color: grey"><i class="fas fa-phone" style="color: black"></i>: 9997003983</h5>
				<h5 style="color: grey"><i class="far fa-envelope" style="color: black"></i> : darkkingarthas@duck.com</h5>
			</div>
		</div>
		<div class="col">
			<h3 align="center" style="color: teal; margin-top:5%">ПОДПИШИТЕСЬ НА НАС</h3>
				<hr>
				<div style="margin-left: 10%">
				<div class="row" style="margin-left: 15%">
					<h5 style="margin-right: 2%; margin-left: 5%"><a href="https://facebook.com/darkkingarthas" target="_blank"><i class="fab fa-facebook-f "></i></a></h5>
					<h5 style="margin-left: 14%"><a href="#"><i class="fab fa-instagram" style="color: red"></i></a></h5>
	               	<h5 style="margin-left: 11%"><a href="#"><i class="fab fa-twitter"></i></a></h5>
	               	<h5 style="margin-left: 10%"><a href=" https://youtube.com/channel/UCBrBBm0xuNe6J5k7-OU9BfA" target="_blank"><i class="fab fa-youtube" style="color: red"></i></a></h5>
               	</div>
	               	<div class="row" style="margin-left: 15%">
					<h5 style="margin-right: 2%">Facebook</h5>
					<h5 style="margin-right: 2%">Instagram</h5>
					<h5 style="margin-right: 2%">Twitter</h5>
					<h5 style="margin-right: 2%">Youtube</h5>
               </div>  
               </div> 
            </div>		
		</div>
	</div>
</div>




{% endblock %}